<!DOCTYPE html>
<html lang="eng">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>BOOKYOURFLIGHT</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/hamburger.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/mission.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!-- <link rel="stylesheet" href=""> -->
	</head>
	<body>
		<header class="header show">
			<div class="background"></div>

			<div class="header__inner">
				<div class="header__logo">
					<a href="#">
						<!-- <img src="./media/logos//spacex-logo.png" alt="SpaceX" /> -->
						<h1>Flight Scheduling App</h1>
					</a>
				</div>

				<nav class="header__navigation">
					<ul>
						<li>
							<a class="nav__link" href="#">Falcon 9</a>
						</li>
						<li>
							<a class="nav__link" href="#">Falcon Heavy</a>
						</li>
						<li>
							<a class="nav__link" href="#">Dragon</a>
						</li>
						<li>
							<a class="nav__link" href="#">STARSHIP</a>
						</li>
						<li>
							<a class="nav__link" href="#">human space flight</a>
						</li>
						<li>
							<a class="nav__link" href="#">rideshare</a>
						</li>
					</ul>

					<!-- <div class="shop__container">
						<a class="nav__link" href="#">shop</a>
					</div> -->
				</nav>

				<button class="hamburger hamburger--emphatic" type="button">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
			</div>
		</header>

		<nav class="navigation__menu">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Launch</a></li>
				<li><a href="#">mission</a></li>
				<li><a href="#">History</a></li>
				<li><a href="#">Press</a></li>
				<li><a href="#">Careers</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>

		<section class="mission__container">
			<div class="background one"></div>

				<!-- <h4 class="bottom__content__subheader">RECENT LAUNCH</h4> -->

				<!-- <h1 class="bottom__content__header">
					Double Asteroid Redirection Test (DART) Mission
				</h1> -->


			

				<div class="bottom__content">



					{% block body %}

					{% endblock %}
				</div>
					

					

                     
				

				

				<!-- <a class="content__button" href="#">
					<span class="text">RE-WATCH</span>
					<div class="hover"></div>
				</a> -->
		
		</section>

		<section class="mission__container">
			<div class="background two"></div>

			<div class="bottom__content">
				<h4 class="bottom__content__subheader">RECENT LAUNCH</h4>

				<h1 class="bottom__content__header">
					See DATABASE of all Recent Flights
				</h1>

				<a class="content__button" href="/all_flights">
					<span class="text" type="submit">All Flights</span>
					<div class="hover"></div>
				</a>
			</div>
		</section>

		<section class="mission__container">
			<div class="background three"></div>

			<div class="bottom__content">
				<h4 class="bottom__content__subheader">WINTER DISCOUNTS</h4>

				<h1 class="bottom__content__header">
					Plan a Trip for Your loved Ones ❤
				</h1>

				
		
				<a class="content__button" href="#">
					<span class="text">RE-WATCH</span>
					<div class="hover"></div>
				</a>
						
					 
			</div>
		</section>

		<section class="mission__container">
			<div class="background four"></div>

			<div class="bottom__content">
				<h4 class="bottom__content__subheader">RECENT LAUNCH</h4>

				<h1 class="bottom__content__header">
					Double Asteroid Redirection Test (DART) Mission
				</h1>

				<a class="content__button" href="#">
					<span class="text">RE-WATCH</span>
					<div class="hover"></div>
				</a>
			</div>
		</section>

		<section class="mission__container">
			<div class="background five"></div>

			<div class="bottom__content">
				<h4 class="bottom__content__subheader">FOR MORE INFORMATION</h4>

				<h1 class="bottom__content__header">
					Get in Touch
				</h1>

				<a class="content__button" href="#">
					<span class="text">CONTACT-US</span>
					<div class="hover"></div>
				</a>
			</div>
		</section>

		<footer class="footer">
			<div class="footer__text">BOOKYOURFLIGHT@2022</div>

			<ul class="footer__list">
				<li><a class="footer__list__link" href="#">Twitter</a></li>
				<li><a class="footer__list__link" href="#">youtube</a></li>
				<li><a class="footer__list__link" href="#">instagram</a></li>
				<li><a class="footer__list__link" href="#">flickr</a></li>
				<li><a class="footer__list__link" href="#">Linkedin</a></li>
				<li><a class="footer__list__link" href="#">Privacy Policy</a></li>
			</ul>
		</footer>

		<script src="{{ url_for('static', filename='js/index.js') }}"></script>
	</body>
</html>
